{% extends 'base-admin.html.twig' %}

{% block body %}

<h2>Administrateur</h2>
<h3>Ajouter un niveau de difficulté</h3>
	{{form_start(form)}}


	{{form_row(form.)}}
	


	<button type="submit">Soumettre</button>

	{{form_end(form)}}

{% endblock %}