body, .example-wrapper{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.card-img, .card-img-bottom, .card-img-top{

    height : 250px;
    object-fit: cover;
}

.card-title, .card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}


.card{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff3cd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/* #navbarText{
    background-color:pink;
} */

.container-fluid{
    background-color: #ffc107;
}

footer{
    background-color: #ffc107;
    text-align: center;
    width: 100%;
    justify-content: center;
}

