<footer>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">@Marmite Ronde</h5>
						<p class="card-text">Simplon le 08/04/25</p>
						<a href="#" button type="button" class="btn btn-outline-warning">A propos</a>
						<div class="col text-center">
							<p>© 2025 Marmite Ronde. Tous droits réservés.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
